body{
    padding: 0;
    margin: 0;
    background-color: orange;
}
header{
    display: flex;
    background-color: black;
    color: orange;
}

h1{
    margin-right: auto;
    margin-left: 10px;
}

nav{
    margin-top: 20px;
    margin-left: auto;
    margin-right: 10px;
}

ul{
    display: flex;
}

nav ul li{
    margin-left: 2em;
}

nav ul li a{
    text-decoration: none;
    color: orange;
}